/** FOOTER **/
.footer-section {
	/* width: 100%; */
	border-top: 3px solid #e60012;
	padding: 2rem;
}

.footer-social-list {
	/* width: 100%; */
	display: flex;
	justify-content: center;
	column-gap: 1rem;
}

.footer-social-list li {
	list-style-type: none;
}
